{{{html}}}

<div class="sign-in"><small>Already have an account? <a data-portal="signin">Sign in</a></small></div>
    <div class="gh-post-upgrade-cta-content"></div>
        {{#has visibility="paid"}}
           
<div class="shoutout" style="margin-left:auto; margin-right:auto;">
<h2 class="primary-headline"><strong>Subscribe to unlock</strong> <u>Gold’s Guide Advance</u></h2>
<p class="get-ahead"><strong>$10 per month</strong> or <strong>$100 per year</strong></p>
        {{/has}}
        {{#has visibility="members"}}
            <h2 class="primary-headline">Sign up to read the rest of this guide — it’s free.</h2>
            <p class="get-ahead">Just enter your email below.</p>
        {{/has}}
        {{#has visibility="tiers"}}
            <h2 class="primary-headline">Subscribe to {{tiers}} for access.</h2>
        {{/has}}
        {{#if @member}}
            <a class="bullion-button" data-portal="account/plans" style="color:{{accentColor}}">Upgrade</a>
        {{else}}
            <a class="bullion-button" data-portal="signup">Subscribe</a>
        {{/if}}
    </div>

<div class="get-ahead">
<p class="primary-subheadline">
Learn from the world’s best.
        </p>
            <h3 class="special">Early Adopter Special: <a href="/early-adopter-special">$72 per year</a></h3>
      <p class="get-ahead">
        <u>Gold’s Guide Advance</u> features detailed analysis of the products, origin stories, and monetization strategies that guide brands to success. </p>
        <p>Check out a free sample: <u>Gold’s Guide to <a href="/daring-fireball-2023">Daring Fireball</a></u>
        </p>
    </div>