{{{html}}}

<div class="class="shoutout">
    <div class="sign-in"><small>Already have an account? <a data-portal="signin">Sign in</a></small></div>

        {{#has visibility="paid"}}
           <div class="center-container">
        <h2 class="cta-headline"><strong>Get ahead of the curve</strong></h2>
        <h3>Subscribe to unlock <a href=/advance/><u>Gold’s Guide Advance</u></a></h3>
        </div>



        <div class="center-container">
            <a class="bullion-button" data-portal="signup/monthly/">$10 per month</a>
            <a class="bullion-button" data-portal="signup/yearly/">$99 per year</a>
        </div>

        <div class="get-ahead">Enjoy a free seven day trial</div>
     
        {{/has}}

        {{#has visibility="members"}}

<div class="center-container">
    <h2 class="cta-headline">Sign up for free to read more.</h2>
<div>
        
            <div class="center-container">
                <a class="bullion-button" data-portal="signup/">Sign up</a>
            </div>

        {{/has}}

        {{#has visibility="tiers"}}
 <div class="center-container">
            <h2 class="cta-headline">Subscribe to {{tiers}} for access.</h2>
 </div>
        {{/has}}

        {{#if @member}}

            <div class="center-container">
                <a class="bullion-button" data-portal="account/plans" style="color:{{accentColor}}">Upgrade</a>
            </div>

        {{else}}
       


        {{/if}}
</div>