{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}


{{> "molecule/nav"}}

{{#tag}}
<header class="page-header">
    <h1 class="primary-headline page-header-headline">{{name}}</h1>
    {{#if description}}
        <p class="primary-subheadline page-description">
            {{description}}
        </p>
    {{/if}}

</header>
{{/tag}}

<main id="site-main" class="site-main outer">
	<section class="tag-posts">
        {{#foreach posts}}
        {{> "molecule/entry" class="is-vertical"}}
        {{/foreach}}
    </section>

	{{> "organism/newsletter"}}
</main>



{{> "organism/foot"}}