.post-content {
  background: var(--background-alt);
  color: var(--text-alt);
  outline: 1px solid var(--text);
  display: grid;
  grid-template-columns: var(--grid);
  column-gap: var(--gutter);
  padding: 5rem 0 50vh;
	box-shadow: var(--shadow);

  img {
    outline: 1px solid var(--background);
  }

  ul,
  ol {
    list-style-position: outside;
    padding: 0;
  }

  ul li::marker {
    content: "✦  ";
    color: var(--primary);
  }

  blockquote {
    padding-left: 0;
    &::before {
      left: -1rem;
      background-color: var(--primary);
      opacity: 1;
      width: 2px;
    }
  }

  li,
  blockquote {
    opacity: 0.85;
    transition: opacity var(--transition);
    &:hover {
      opacity: 1;
    }
  }

  figcaption,
  .caption {
    opacity: 0.85;
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
  }

  h2 {
    width: 100%;
    font-family: var(--font-headline);
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 0.2rem;
    padding-top: 2rem;
    line-height: 1;
    font-variation-settings: "SOFT" 0, "WONK" 0;
    --tt-ease: var(--ease-headline);
    --tt-key: uf5dc2412;
    --tt-max: 2000;
  }
  @keyframes uf5dc2412 {
    0% {
      font-size: 1rem;
      line-height: 1.2;
      margin-top: 1rem;
      margin-bottom: 0.2rem;
    }
    100% {
      font-size: calc(1rem + (2rem * var(--tt-scale)));
      line-height: 1;
      margin-top: calc(1rem + (2rem * var(--tt-scale)));
      margin-bottom: calc(0.2rem + (0.2rem * var(--tt-scale)));
    }
  }
  h3 {
    width: 100%;
    font-family: var(--font-text);
    margin-top: 2rem;
    font-size: 1.1rem;
    font-weight: 500;
    font-variation-settings: "SOFT" 0, "WONK" 0;
    --tt-ease: var(--ease-headline);
    --tt-key: u082f7cc2;
    --tt-max: 1000;
  }
  @keyframes u082f7cc2 {
    0% {
      font-size: 1rem;
    }
    100% {
      font-size: 1.2rem;
    }
  }
  h4 {
    width: 100%;
    font-family: var(--font-text);
    margin-top: 3rem;
    font-size: 1.2rem;
    font-weight: 350;
    font-style: italic;
    font-variation-settings: "SOFT" 0, "WONK" 0;
  }
}

.post-content > * {
  grid-column-start: 2;
  grid-column-end: span 24;
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}

.kg-card {
}

.kg-image-card {
}

.kg-width-wide {
  max-width: none;
}
.kg-width-full {
  max-width: none;
  grid-column-start: 1;
  grid-column-end: span 26;
}

.kg-gallery-container {
  display: flex;
  flex-direction: column;
  gap: var(--gutter);
  margin-top: 0;
  margin-bottom: 0;
}
.kg-gallery-row {
  display: flex;
  flex-direction: row;
  gap: var(--gutter);
}
