.tag-posts {
  max-width: var(--max-width);
  padding: var(--gutter);
  outline: 1px solid var(--text);
  margin: 2rem auto;
  background: var(--background-alt);
  box-shadow: var(--shadow);
  display: grid;
  gap: var(--gutter);
  grid-auto-flow: dense;
  .tag-feature .entry-excerpt {
    display: block;
  }
  @media (min-width: 40em) {
    grid-template-columns: repeat(2, 1fr);
    .tag-feature {
      grid-column-end: span 2;
      .entry-excerpt {
        display: block;
      }
    }
  }
  @media (min-width: 60em) {
    grid-template-columns: repeat(3, 1fr);
  }
}
