.category {
  background: var(--background-alt);
  color: var(--text-alt);
  border: 1px solid var(--text);
  border-width: 1px 0;
  box-shadow: var(--shadow);
  padding: 2rem 0;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  a {
    text-decoration-color: transparent;
  }
  a:hover {
    text-decoration-color: var(--primary);
  }

  .category-break {
    position: relative;
    margin-top: 3rem;
    &::before {
      content: "";
      position: absolute;
      top: calc(-2rem - 1px);
      left: 50%;
      transform: translateX(-50%);
      width: min(calc(100% - (var(--gutter) * 2)), var(--max-width));
      height: 1px;
      background: var(--text);
    }
  }
  .category-break:first-child {
    margin-top: 0;
  }

  .category-name {
    max-width: var(--max-width);
    margin: 0 max(var(--gutter), calc(50vw - (var(--max-width) / 2))) 0;
  }
  .category-entries {
    width: 100%;
    overflow: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-snap-align: start;
    display: flex;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .entry {
    position: relative;
    display: flex;
    overflow: hidden;
    width: calc(100% - (var(--gutter) * 4));
    min-width: calc(100% - (var(--gutter) * 4));
    padding: var(--gutter);
    scroll-snap-align: start;
    --tt-scale: 0.7;
    margin-bottom: 2rem;
  }
  .entry:last-child:not(.tag-feature) {
    padding-right: calc(var(--gutter) * 3);
  }
  .entry:only-child {
    width: calc(100% - (var(--gutter) * 2));
    min-width: calc(100% - (var(--gutter) * 2));
  }
  .entry-tag {
    display: none;
  }
  .entry-image {
    display: none;
  }
  .entry.tag-feature .entry-content {
    margin: calc(var(--gutter) * -1);
  }
  @media (min-width: 50em) {
    .category-entries {
      scroll-snap-align: none;
    }
    .entry,
    .entry:only-child {
      width: 20rem;
      min-width: 20rem;
      margin: var(--gutter);
      scroll-snap-align: none;
      padding: 0;
    }
    .entry:first-child {
      margin-left: max(var(--gutter), calc(50vw - (var(--max-width) / 2)));
    }
    .entry:last-child {
      margin-right: max(var(--gutter), calc(50vw - (var(--max-width) / 2)));
    }
    .entry.tag-feature .entry-content {
      margin: 0;
    }
  }
}
