.page-lede-logo {
  grid-column-start: 2;
  grid-column-end: 25;
  display: block;
  margin: 0 auto 2rem;
  svg {
    width: 30vw;
    height: auto;
    max-width: 12rem;
    margin: auto;
  }
}

.page-lede {
  text-align: center;
  max-width: var(--max-width);
  margin: 2rem auto;
  padding: 0 var(--gutter);
}
