.post-lede {
  display: grid;
  grid-template-columns: var(--grid);
  gap: var(--gutter);
  &::after {
    display: block;
    content: "";
    width: 1px;
    background: var(--text);
    grid-column-start: 13;
    grid-row-start: 2;
    grid-row-end: 4;
    margin: var(--gutter) 0 -3rem;
  }
  a {
    text-decoration-color: transparent;
  }
  a:hover {
    text-decoration-color: var(--primary);
  }
}

.post-lede-logo {
  grid-column-start: 2;
  grid-column-end: 25;
  display: block;
  margin: var(--gutter) 0 0;
  svg {
    width: 25vw;
    height: auto;
    max-width: 16rem;
  }
}

.post-image {
  grid-column-start: 1;
  grid-column-end: 14;
  grid-row-start: 2;
  grid-row-end: 3;
  margin: 0;
  padding: 0;
  max-width: 50rem;
  justify-self: end;
  box-shadow: var(--shadow);
}

.post-lede-content {
  --tt-scale: 1.3;
  grid-column-start: 14;
  grid-column-end: 25;
  grid-row-start: 2;
  grid-row-end: 4;
  margin-bottom: -3rem;
  display: flex;
  flex-direction: column;
}

.post-byline {
}
