<section class="category">
{{#get "tags" limit="all" include="count.posts" order="count.posts desc" as |alltags|}}
{{#foreach alltags}}
<div class="category-break">
	<h1 class="category-name primary-headline"><a href="{{url}}">{{name}}</a></h1>
	<div class="category-entries">
    {{#get "posts" limit="all" filter="tag:{{slug}}" include="tags,authors"}}
		  {{#foreach posts}}
				{{> molecule/entry class="is-vertical"}}
		  {{/foreach}}
    {{/get}}
	</div>
</div>
{{/foreach}}
{{/get}}
</section>
