<footer class="foot">
  {{> molecule/nav}}
  {{navigation type="secondary"}}

  <a href="{{@site.url}}">
    {{> icons/logo}}
  </a>
  <div class="copyright small"><em>© Tyler Gold {{date format="YYYY"}}</em></div>

</footer>
