{{#unless @member}}

<section class="newsletter">
  <h1 class="primary-headline">Hey early adopter!</h1>
  <p class="primary-subheadline">Enter your email below to join the Private
    Library. You’ll get two free emails per week: one about what’s good, and one
    about what’s next.</p>
</section>

<form class="newsletter-form" data-members-form="subscribe" _lpchecked="1">
  <input
    class="newsletter-input"
    data-members-email=""
    placeholder="Your email address"
    autocomplete="false"
  />
  <button class="newsletter-join primary" type="submit">Join</button>
</form>

<p class="newsletter-kicker">Early adopters also get complimentary access to the
  <a href="#">Reading Roster</a></p>
	
{{/unless}}