html {
  background: var(--background);
  color: var(--text);
}

body {
  margin: 0;
  scroll-snap-type: y mandatory;
}

:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--primary);
}

button,
input[type="button"] {
  cursor: pointer;
}

a {
  mix-blend-mode: multiply;
  color: inherit;
  text-decoration-color: var(--primary);
  text-decoration-thickness: 2px;
  transition: text-decoration-color var(--transition);
  @media (prefers-color-scheme: dark) {
    mix-blend-mode: normal;
  }
}
a:hover {
  text-decoration-color: var(--text);
}

::placeholder {
  color: #aaa;
}

svg {
  display: block;
  width: 1em;
  height: 1em;
}

img {
  display: block;
  width: 100%;
}

.flex-spacer {
  flex: 1;
}
