.entry {
  display: flex;
  justify-content: flex-start;
  gap: var(--gutter);
  position: relative;
  z-index: 1;
  a {
    position: relative;
    text-decoration-color: transparent;
    z-index: 3;
  }
  a:hover {
    text-decoration-color: var(--primary);
  }
}

.entry.is-vertical {
  flex-direction: column;
}

.entry-tag,
.entry-link {
  display: table;
}
a.entry-link {
  position: static;
}
.entry-link::before {
  z-index: 2;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.entry-image {
  flex: 1;
  object-fit: contain;
  object-position: top;
}

.entry.is-vertical > .entry-image-link {
  flex: 0;
}

.entry-content {
  flex: 2;
}
