.home-masthead {
  max-width: var(--max-width);
  margin: min(6vw, 4rem) auto min(1vw, 1rem);
  padding: 1rem var(--gutter);
}

.home-masthead-logo a {
  display: table;
}

.home-masthead-logo svg {
  width: 60vw;
  max-width: calc(var(--max-width) * 0.4);
  min-width: 11rem;
  height: auto;
  margin-bottom: 1.4rem;
}

.home-masthead-description {
  max-width: calc(var(--max-width) * 0.5);
  --tt-scale: 1.8;
}
