.main-nav {
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem var(--gutter);
  display: flex;
  align-content: baseline;
  justify-content: flex-start;
  opacity: 0.85;
  transition: opacity var(--transition);
  &:hover {
    opacity: 1;
  }
  a {
    text-decoration-color: transparent;
  }
  a:hover {
    text-decoration-color: var(--primary);
  }
  .nav {
    font-size: 1em;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-content: baseline;
    gap: 1rem;
    position: relative;
    overflow: auto;
    width: calc(100% - 5rem);
    scrollbar-width: none;
		&::-webkit-scrollbar {
		  display: none;
		}
  }
  .main-nav-overflow {
    position: relative;
    width: 1rem;
    transform: translatex(-1rem);
    background: linear-gradient(90deg, hsla(39, 94%, 64%, 0), var(--background));
    align-self: stretch;
  }
}
