.gh-post-upgrade-cta-content {
  width: 90%;
  margin-top: 3rem !important;
  padding: 54px !important;
  margin-left: auto;
  margin-right: auto;
}
.gh-btn {
    border-radius: .36rem !important;
    background: #f6c365 !important;
    width: 36% !important;
    margin-left: auto;
    margin-right: auto;
    color: #353d48 !important;
  }
  .gh-btn:hover {
    background: var(--primary) !important;
    box-shadow: inset var(--shadow) !important;
  }
