<svg
  width="1977"
  height="234"
  viewBox="0 0 1977 234"
  id="logo"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
  labelledby="logoTitle"
>
  <title id="logoTitle">Gold’s Guide</title>
  <path
    d="M116.203 228.99C140.889 228.99 161.661 225.977 189.056 216.938V165.415C197.184 160.293 205.312 156.376 213.44 153.062V139.804H126.137V155.171C137.577 158.485 149.318 160.594 161.962 162.703V200.366C149.92 205.488 133.664 208.501 116.504 208.501C61.413 208.501 28.5992 160.594 28.5992 113.29C28.5992 63.8761 56.8973 34.3485 101.452 34.3485C150.823 34.3485 170.692 53.9332 177.315 94.0064L190.561 92.4999L187.851 25.3094C172.498 19.5847 142.996 13.8599 115.601 13.8599C49.3712 13.8599 0 56.9462 0 124.739C0 190.423 43.3503 228.99 116.203 228.99Z"
    fill="currentColor"
  ></path>
  <path
    d="M322.395 228.086C372.368 228.086 416.922 190.725 416.922 141.612C416.922 91.8973 378.088 60.5618 330.523 60.5618C280.248 60.5618 235.995 98.2246 235.995 146.734C235.995 196.449 274.529 228.086 322.395 228.086ZM262.186 137.997C262.186 103.045 283.861 79.8452 319.986 79.8452C361.831 79.8452 390.43 117.508 390.43 150.651C390.43 185.301 368.755 208.803 332.931 208.803C291.086 208.803 262.186 171.14 262.186 137.997Z"
    fill="currentColor"
  ></path>
  <path
    d="M552.691 233.208H562.324L583.096 166.922L572.259 163.005C558.712 188.917 547.272 208.2 531.016 208.2H486.461V86.1725C497.6 81.0504 509.039 76.8322 520.78 74.1204V63.2735H436.789V74.1204C444.315 78.64 452.744 81.9543 461.474 84.3647V202.475C454.55 206.995 446.121 210.912 436.789 214.226V225.073H547.272C549.379 227.182 551.186 229.894 552.691 233.208Z"
    fill="currentColor"
  ></path>
  <path
    d="M596.424 214.226V225.073H679.513C741.528 225.073 777.653 184.096 777.653 135.285C777.653 86.7751 739.721 63.2735 698.779 63.2735H596.424V74.1204C604.252 78.3387 612.681 81.3517 621.11 84.3647V202.475C613.283 207.597 604.854 211.213 596.424 214.226ZM646.097 187.109V79.8452H674.997C721.96 79.8452 751.462 106.058 751.462 144.927C751.462 174.153 732.496 208.2 672.89 208.2C651.214 208.2 646.097 203.078 646.097 187.109Z"
    fill="currentColor"
  ></path>
  <path
    d="M811.896 82.2556L817.014 94.0064C848.924 83.1595 862.471 62.3696 862.471 40.9772C862.471 13.2573 844.108 0 829.055 0C816.412 0 805.574 5.72475 805.574 16.8729C805.574 20.7899 808.584 26.2133 818.519 30.4316C832.668 36.1563 841.699 40.6758 841.699 51.5227C841.699 59.0553 836.281 69.6009 811.896 82.2556Z"
    fill="currentColor"
  ></path>
  <path
    d="M913.816 228.086C957.468 228.086 985.465 204.886 985.465 175.358C985.465 150.651 963.789 139.202 941.813 131.368C917.128 122.329 896.055 118.111 896.055 100.334C896.055 85.2686 909.602 79.2426 924.955 79.2426C946.028 79.2426 961.682 86.1725 967.703 105.456L978.24 103.347L971.918 64.4787C963.187 62.3696 949.64 60.2605 936.997 60.2605C900.269 60.2605 871.971 80.4478 871.971 108.77C871.971 138.9 897.259 145.83 923.149 155.472C942.415 162.703 961.983 168.428 961.983 185.602C961.983 197.353 949.64 209.104 928.868 209.104C907.494 209.104 888.227 204.584 881.604 176.563H869.563L873.777 224.169C885.217 226.579 901.774 228.086 913.816 228.086Z"
    fill="currentColor"
  ></path>
  <path
    d="M1220.42 228.99C1245.11 228.99 1265.88 225.977 1293.28 216.938V165.415C1301.4 160.293 1309.53 156.376 1317.66 153.062V139.804H1230.36V155.171C1241.8 158.485 1253.54 160.594 1266.18 162.703V200.366C1254.14 205.488 1237.88 208.501 1220.72 208.501C1165.63 208.501 1132.82 160.594 1132.82 113.29C1132.82 63.8761 1161.12 34.3485 1205.67 34.3485C1255.04 34.3485 1274.91 53.9332 1281.53 94.0064L1294.78 92.4999L1292.07 25.3094C1276.72 19.5847 1247.22 13.8599 1219.82 13.8599C1153.59 13.8599 1104.22 56.9462 1104.22 124.739C1104.22 190.423 1147.57 228.99 1220.42 228.99Z"
    fill="currentColor"
  ></path>
  <path
    d="M1423.36 228.086C1462.79 228.086 1492.3 206.995 1492.3 162.101V87.0764C1499.52 81.653 1507.05 77.4348 1514.27 74.1204V63.2735H1449.55V74.1204C1457.07 78.3387 1465.5 81.9543 1474.23 84.666V163.005C1474.23 197.052 1454.36 208.803 1427.87 208.803C1395.96 208.803 1378.2 189.821 1378.2 156.979V87.0764C1386.03 81.9543 1394.46 77.7361 1402.89 74.1204V63.2735H1330.63V74.1204C1337.56 78.9413 1344.78 82.2556 1352.91 84.666V166.018C1352.91 205.187 1378.2 228.086 1423.36 228.086Z"
    fill="currentColor"
  ></path>
  <path
    d="M1537.91 214.226V225.073H1610.16L1612.27 214.226C1604.74 210.912 1596.31 207.597 1587.58 205.187V86.1725C1595.41 81.3517 1603.84 77.4348 1612.27 74.1204V63.2735H1537.91V74.1204C1545.74 78.64 1554.17 81.9543 1562.6 84.3647V202.174C1555.37 206.995 1546.94 211.213 1537.91 214.226Z"
    fill="currentColor"
  ></path>
  <path
    d="M1636.41 214.226V225.073H1719.49C1781.51 225.073 1817.63 184.096 1817.63 135.285C1817.63 86.7751 1779.7 63.2735 1738.76 63.2735H1636.41V74.1204C1644.23 78.3387 1652.66 81.3517 1661.09 84.3647V202.475C1653.26 207.597 1644.83 211.213 1636.41 214.226ZM1686.08 187.109V79.8452H1714.98C1761.94 79.8452 1791.44 106.058 1791.44 144.927C1791.44 174.153 1772.48 208.2 1712.87 208.2C1691.2 208.2 1686.08 203.078 1686.08 187.109Z"
    fill="currentColor"
  ></path>
  <path
    d="M1832.19 214.226V225.073H1961.04L1976.69 181.083L1966.46 176.865C1957.12 190.423 1942.97 208.2 1927.02 208.2H1881.86V151.254H1940.57C1943.28 157.28 1945.68 163.306 1947.19 169.633H1957.73V118.713H1947.19C1945.68 124.137 1943.28 129.259 1940.57 134.381H1881.86V79.8452H1940.57C1943.88 88.2816 1946.59 96.7181 1948.09 105.757H1958.33L1965.85 63.2735H1832.19V74.1204C1840.02 78.64 1848.45 81.653 1856.88 84.3647V202.475C1849.05 207.296 1840.62 211.213 1832.19 214.226Z"
    fill="currentColor"
  ></path>
</svg>