<header class="home-masthead">
  <h1 class="home-masthead-logo">
    <a href="{{@site.url}}">
	  {{> "icons/logo"}}
    </a>
  </h1>
{{!--   <p class="home-masthead-description primary-subheadline">{{@site.description}}</p>--}}
</header>
